<footer>
    <div class="footer-content">
        <div class="footer-info">
            <div class="footer-socials">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/_om0107/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
            <div class="footer-company">
                &copy; 2024 KicksCove Private Limited
            </div>
        </div>
        <div class="footer-links">
            <a href="/privacy" class="footer-link">Privacy</a>
            <a href="/terms" class="footer-link">Terms</a>
            <a href="/men" class="footer-link">Men</a>
            <a href="/women" class="footer-link">Women</a>
            <a href="/kids" class="footer-link">Kids</a>
            <a href="/collections" class="footer-link">Collections</a>
        </div>
        <div class="footer-newsletter">
            <h4>Subscribe to our Newsletter</h4>
            <form>
                <input type="email" placeholder="Enter your email" required>
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</footer>
